* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 70vh;
    background-color: #1f2937;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px 200px;
}  

nav ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

nav ul .header-logo {
    margin-right: auto;
}

nav ul .header-logo a {
    color: #f9faf8;
    font-size: 24px;
}